################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KzBot2/v15
/KzBot2.0/obj/Debug/KzBot2.csprojResolveAssemblyReference.cache
/images/
wbot.py