################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KzBot2/v15/sqlite3/storage.ide
/KzBot2.0/obj/Debug/KzBot2.csprojResolveAssemblyReference.cache
