<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--only first 5 slots implemented right now-->
    <add key="dragger1_slot_43E" value="1"/>
    <add key="dragger2_slot_43E" value="2"/>
    <add key="dragger1_slot_02E" value="1"/>
    <add key="dragger2_slot_02E" value="3"/>
    <!--time in milliseconds-->
    <add key="43E_cleartime" value="130000"/>
    
    <add key="02N_Part1_cleartime" value="140000"/>
    <add key="02N_Part2_cleartime" value="95500"/>
    
    <add key="34Night_First_Node_Cleartime" value="25000"/>
    <add key="34Night_Second_Node_Cleartime" value="25000"/>
    <add key="34Night_Turn2_Cleartime" value="95500"/>
    <add key="34Night_Unused_Teams" value="2"/>
    <add key="34Night_Use_Griffin_Support" value="false"/>
    <!--the bot will click end turn randomly between the clearTime and the clearTime + clearTimeOffset-->
    <add key="clearTimeOffSet" value="3000"/>
  </appSettings>
</configuration>